
html, body {
    height: 100%;
}
  
body {
    /* margin: 0; */
    /* display: flex; */
    
    /* This centers our sketch horizontally. */
    /* justify-content: center; */
    
    /* This centers our sketch vertically. */
    /* align-items: center; */
}
.lasagna {
    /* z-index: 999; */
    /* float: right; */
    right: 0;
    position: fixed;

}

/* .button {
    margin-bottom: 5px;
    width: 140px;
} */

/* .color-test #color_name #change_color_ok{
    margin:0 auto;
    float: right;
} */

.tool-bar-element {
    margin-bottom: 5px;
    width: 200px;
    /* min-height: 36px; */
}

#zoom_info {
    min-height: 36px;
    font-size: 15px;
}

.has-background-red {
    /* color: brown; */
    /* color:	hsl(348, 100%, 61%); */
    background-color: hsl(348, 100%, 50%);;
}

#color_background_notification {
    width: 200px;
    margin-top: -5px;
    max-height: 55px;
    font-size: 15px;
    padding : 5px;
    padding-left: 10px;
    /* float: right; */
    /* margin-left: 140px; */
    /* float: right; */
    display: none;
    
}

#custom_cross {
}

.zoom-button {
    margin-bottom: -5px;

    width: 100px;
}
.normal-button {
    width: 200px;
}

